:root {
  --clr-dark: #282c34;
}

.App {
  text-align: center;
  background-color: var(--clr-dark);
}

html {
  background-color: var(--clr-dark);
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--clr-dark) !important;
}

.bg-dark {
  background-color: var(--clr-dark);
}

.container-fluid {
  background-color: var(--clr-dark);
  min-height: 100vh;
  color: white;
}
